
@extends('layouts.menu')

@section('content')
<!DOCTYPE html>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icheck-bootstrap@3.0.1/icheck-bootstrap.min.css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icheck-bootstrap@3.0.1/icheck-bootstrap.min.css" />

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/js/sweetalert2@9.js"></script>

<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icheck-bootstrap@3.0.1/icheck-bootstrap.min.css" />
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/icheck-bootstrap@3.0.1/icheck-bootstrap.min.css" />
<link rel="stylesheet" href="css/estilos_pie_pagina.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="/js/sweetalert2@9.js"></script>


<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Wasr</title>
   
    <link href="{{ asset('/blade_wasr/layout.min.css') }}" rel="stylesheet">
    <link href="{{ asset('/blade_wasr/MyResume.css') }}" rel="stylesheet">
    

<body  data-spy="scroll" data-target=".tooltip-advice-notification" onload="patternSmart();">
   
    <meta itemprop="isFamilyFriendly" content="true">

<iframe allow="join-ad-interest-group" data-tagging-id="AW-1010759038" data-load-time="1695179195142" height="0" width="0" style="display: none; visibility: hidden;" src="./blade_wasr/1010759038.html"></iframe><div class="container">
 
<hr class="hidden-xs hidden-sm">
<!--
|--------------------------------------------------------------------------
| 		Inicio  de informacion lateral,
|--------------------------------------------------------------------------
|
-->
<div class="myresume-wrapper js-myresume-wrapper ">
  <div class="myresume-info hidden-xs hidden-sm">
      <div class="myresume-info-content">
          <div class="hidden-xs hidden-sm toggle-column-wrapper">
              
              <a class="close-column js-toggle-column" href="">
                  Ocultar columna
                  <i class="fa fa-arrow-left icon-toggle-arrow"></i>
              </a>
          </div>

          <h2 class="welcome-text js-welcome-text">
              ¡Bienvenido a Wasr Fabian !
          </h2>

          
          <div class="ups-text-resume-state">
              <img class="js-resume-ups-text-img-desktop" src="./blade_wasr/proceso.jpg" alt="¡Procesos de la Misak Educación !" title="¡Procesos de la Misak Educación !" width="auto" height="25">
          </div>

          <p>
              Tu <strong>Hoja de vida</strong> está al:
          </p>

          <div class="info-progress-column">
              <div class="progress progress-wrapper">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                      <span class="sr-only">0% Complete (warning)</span>
                  </div>
              </div>

              <span class="progress-number text-primary text-success">90%</span>
          </div>

          <ul class="info-anchors js-professional-info-module">
              <i class="fa fa-book icon-book"></i>
              <li class="anchor-item js-personal-info-module-menu">
                  <a href="" datalayertag="">
                      Tu información personal
                  </a>

                  <a class="">
                      <i class="fa fa-pencil"></i>
                      <span>
                          Editar
                      </span>
                  </a>
              </li>
              <li class="anchor-item js-profesional-profile-module-menu">
                  <a href="" datalayertag="">
                      Describe tu perfil laboral
                  </a>

                  <a class="btn btn-sm info-actions js-anchor-jobs btn-info" href="" datalayertag="">
                      <i class="fa fa-pencil"></i>
                      <span>
                          Editar
                      </span>
                  </a>
              </li>
                  <li class="anchor-item">
                      <a href="" datalayertag="">
                          Tu experiencia laboral mmmm
                      </a>

                      <a class="btn btn-sm info-actions js-anchor-laboral-experience btn-info" href="" datalayertag="">
                          <i class="fa fa-pencil"></i>
                          <span>
                              Editar
                          </span>
                      </a>
                  </li>
                                <li class="anchor-item">
                      <a href="" datalayertag="">
                          Tu formación académica

                      </a>

                      <a class="btn btn-sm info-actions js-anchor-studies btn-info" href="" datalayertag="">
                          <i class="fa fa-pencil"></i>
                          <span>
                              Editar
                          </span>
                      </a>
                  </li>
          </ul>

<div class="hidden-xs">

          <div class="ups-text-pda-container pull-right">
            <img class="ups-text-pda-state" src="./blade_wasr/texto-nueva-prueba-hv-desktop.svg" alt="¡Ya conoces la nueva prueba!" title="¡Ya conoces la nueva prueba!" width="228" height="50">
          </div>
          <div class="panel panel-default pda-resume-panel-desktop">
            <div class="star-tape text-center">
              <i class="fa fa-user"></i>
            </div>
            <h1 class="pda-result-title-desktop">______</h1>
            <div class="panel-body">
                  <a class="btn center-block btn-secondary btn-features js-pda-test-bnt" href="" datalayertag="">
                ____
                  </a>

            </div>
          </div>

</div>

  <div class="panel panel-default ee-mod ee-similar-offers-wrapper">
    <div class="panel-body panel-body-wrapper ee-mod">
      <h3 class="ee-mod">
__--
      </h3>


<div class="offer-item text-center js-related-offert-container" datalayertag="{&quot;event&quot;:&quot;productClick&quot;,&quot;ecommerce&quot;:{&quot;click&quot;:{&quot;actionField&quot;:{&quot;list&quot;:&quot;perfil usuario&quot;},&quot;products&quot;:[{&quot;name&quot;:&quot;desarrollador de software junior&quot;,&quot;id&quot;:&quot;1885915613&quot;,&quot;brand&quot;:&quot;Recomendacion - oferta - perfil usuario&quot;,&quot;category&quot;:&quot;oportunidades para ti&quot;,&quot;position&quot;:1,&quot;dimension7&quot;:&quot;Empresa confidencial&quot;,&quot;dimension21&quot;:&quot;$1,5 a $2 millones&quot;}]}}}">
    <div class="joboffer-recommended js-link-offer" data-offer-link="/co/ofertas-trabajo/desarrollador-de-software-junior/1885915613?icid=rec_hom-desarrollador-de-software-junior">
        <img class="joboffer-recommended-img hidden-xs hidden-sm" src="./Mi hoja de vida – elempleo.com_files/logo_pordefecto.gif" alt="Empresa confidencial" title="Empresa confidencial" width="100" height="47">

        <input type="hidden" value="1885915613" class="js-offer-id">
                 
        <div class="joboffer-companyname js-company-name" style="float: none; position: static;"><span>
                Empresa confidencial
            </span></div>

        <div class="joboffer-title">
            <a href="" title="desarrollador de software junior">
                <span class="visible-xs visible-md visible-lg">
                    desarrollador de software junior
                </span>
                <span class="visible-sm">
                    desarrollador de software junior
                </span>
            </a>
        </div>

        <div class="joboffer-salary js-salary">
            <span>
               ------
            </span>
        </div>

        <div class="joboffer-time">
            <i class="fa fa-clock-o icon"></i>
            <span>----</span>
        </div>
    </div>  
</div>

<div class="offer-item text-center js-related-offert-container" datalayertag="{&quot;event&quot;:&quot;productClick&quot;,&quot;ecommerce&quot;:{&quot;click&quot;:{&quot;actionField&quot;:{&quot;list&quot;:&quot;perfil usuario&quot;},&quot;products&quot;:[{&quot;name&quot;:&quot;Asistente Comercial/presencial Bogotá&quot;,&quot;id&quot;:&quot;1885915362&quot;,&quot;brand&quot;:&quot;Recomendacion - oferta - perfil usuario&quot;,&quot;category&quot;:&quot;oportunidades para ti&quot;,&quot;position&quot;:2,&quot;dimension7&quot;:&quot;Redsoft Technology S.A.S&quot;,&quot;dimension21&quot;:&quot;$1,5 a $2 millones&quot;}]}}}">
    <div class="joboffer-recommended js-link-offer" data-offer-link="/co/ofertas-trabajo/asistente-comercial-presencial-bogota/1885915362?icid=rec_hom-asistente-comercial-presencial-bogota">
        <img class="joboffer-recommended-img hidden-xs hidden-sm" src="./Mi hoja de vida – elempleo.com_files/logo_pordefecto.gif" alt="Ofertas de empleo en Redsoft Technology S.A.S" title="Redsoft Technology S.A.S" width="100" height="47">

        <input type="hidden" value="1885915362" class="js-offer-id">
                 
        <div class="joboffer-companyname js-company-name" style="float: none; position: static;"><span>
                ---
            </span></div>

        <div class="joboffer-title">
            <a href="" title="Asistente Comercial/presencial Bogotá">
                <span class="visible-xs visible-md visible-lg">
                    ----
                </span>
                <span class="visible-sm">
                   ---
                </span>
            </a>
        </div>

        <div class="joboffer-salary js-salary">
            <span>
              ---
            </span>
        </div>

        <div class="joboffer-time">
            <i class="fa fa-clock-o icon"></i>
            <span>---</span>
        </div>
    </div>  
</div>

<div class="offer-item text-center js-related-offert-container" datalayertag="{&quot;event&quot;:&quot;productClick&quot;,&quot;ecommerce&quot;:{&quot;click&quot;:{&quot;actionField&quot;:{&quot;list&quot;:&quot;perfil usuario&quot;},&quot;products&quot;:[{&quot;name&quot;:&quot;TECNICO DE CONECTIVIDAD&quot;,&quot;id&quot;:&quot;1885906267&quot;,&quot;brand&quot;:&quot;Recomendacion - oferta - perfil usuario&quot;,&quot;category&quot;:&quot;oportunidades para ti&quot;,&quot;position&quot;:3,&quot;dimension7&quot;:&quot;Empresa confidencial&quot;,&quot;dimension21&quot;:&quot;$1,5 a $2 millones&quot;}]}}}">
    <div class="joboffer-recommended js-link-offer" data-offer-link="/co/ofertas-trabajo/tecnico-de-conectividad/1885906267?icid=rec_hom-tecnico-de-conectividad">
        <img class="joboffer-recommended-img hidden-xs hidden-sm" src="./Mi hoja de vida – elempleo.com_files/logo_pordefecto.gif" alt="Empresa confidencial" title="Empresa confidencial" width="100" height="47">

        <input type="hidden" value="1885906267" class="js-offer-id">
                 
        <div class="joboffer-companyname js-company-name" style="float: none; position: static;"><span>
                ---
            </span></div>

        <div class="joboffer-title">
            <a href="" title="TECNICO DE CONECTIVIDAD">
                <span class="visible-xs visible-md visible-lg">
                    TECNICO DE CONECTIVIDAD
                </span>
                <span class="visible-sm">
                    TECNICO DE CONECTIVIDAD
                </span>
            </a>
        </div>

        <div class="joboffer-salary js-salary">
            <span>
                ---
            </span>
        </div>

        <div class="joboffer-time">
            <i class="fa fa-clock-o icon"></i>
            <span>--</span>
        </div>
    </div>  
</div>    </div>
  </div>

  <div class="panel panel-default ee-mod ee-statistics-wrapper">
    <div class="panel-body panel-body-wrapper ee-mod">
      <div class="homelogvip-statistics-title clearfix">

        <div class="statistics-title">
          <div class="item">
            <h3>
              Estadísticas
            </h3>
          </div>
          
          <div class="item hidden">
            <span>|</span>
          </div>
          <div class="item">
            <small>
              Últimos seis meses de actividad
            </small>
          </div>
        </div>

      </div>

      <div class="homelogvip-statistics">

        <div class="statistics-item">
          <i class="fa fa-fw fa-check-square-o text-info statistics-icon"></i>
          Postulaciones a ofertas
          <span class="statistics-number">
            0
          </span>
        </div>
        <!--
        
        -->
        <div class="statistics-item">
          <i class="fa fa-fw fa-search-plus text-info statistics-icon"></i>
          Apariciones en búsquedas
          <span class="statistics-number">
            0
          </span>
        </div>
        <!--
        
        -->
        <div class="statistics-item">
          <i class="fa fa-fw fa-file-text text-info statistics-icon"></i>
          Visitas a tu hoja de vida
          <span class="statistics-number">
            0
          </span>
        </div>
        <!--
        
        -->
        <div class="statistics-item">
          <i class="fa fa-fw fa-building text-info statistics-icon"></i>
          Registro en empresas
          <span class="statistics-number">
            0
          </span>
        </div>

      </div>

      <a class="btn btn-block btn-ghost-reverse btn-statistics js-statistics" href="" datalayertag="">
        <i class="fa fa-eye"></i>
        Ver todas mis estadísticas
      </a>
    </div>
  </div>

      </div>

    <div class="myresume-info-indicator">
      <div class="info-progress-collapsed">
        <i class="fa fa-book icon-book"></i>

        <span class="progress-number text-primary text-success">90%</span>

        <div class="progress progress-wrapper">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
              <span class="sr-only">0% Complete (warning)</span>
          </div>
        </div>
      </div>
    </div>
    </div><!--
        
    --><div class="myresume-modules">
    <div class="hidden-xs hidden-sm toggle-column-wrapper">
        
        <a class="open-column js-toggle-column" href="">
            <i class="fa fa-arrow-right icon-toggle-arrow"></i>
            Mostrar columna
        </a>
    </div>

   <div class="js-vip-module-wrapper hidden">


<div class="panel panel-default ee-vip-module ee-mod js-vip-module">
  <div class="panel-body">
    <div class="star-tape">
      <img class="img-responsive" src="./Mi hoja de vida – elempleo.com_files/icono-vip.png" width="40" height="40" alt="">
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9 col-lg-offset-3 col-lg-9">
        <h3 class="text-center vip-module-title">
          ¡Gana visibilidad con membresías Gold y Silver!

          <button class="close ee-mod js-vip-close" type="button" aria-label="Close">
            <span aria-hidden="true">
              ×
            </span>
          </button>
        </h3>

        <div class="row vip-module-desc">
          <div class="col-xs-12 col-sm-6">
            Tu hoja de vida aparecerá en un lugar preferencial en las búsquedas que realizan las empresas.
          </div>

          <div class="col-xs-12 col-sm-6">
            Tendrás acceso a una prueba de rasgos personales y a información salarial del mercado laboral.
          </div>
        </div>

        <div class="text-center">
          <a class="btn btn-secondary btn-vip" href="" type="button">
            Más Información Aqui
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<!--
|--------------------------------------------------------------------------
| Fin de informacion lateral,
|--------------------------------------------------------------------------
|
-->

<!--
|--------------------------------------------------------------------------
|  MENU  INFORMACION  PERSONAL
|--------------------------------------------------------------------------
|
--

<div class="well resume-module module-personal-information" id="informacion-personal">
  <div class="js-box-personal-info">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-6 col-lg-5 col-lg-push-7">
        <div class="ups-text ups-text-visible js-ups-text hidden">
          <img src="./wasr/texto-ups-modulo-incompleto.svg" alt="¡Ups! ¡Completa esta sección!" title="¡Ups! ¡Completa esta sección!" width="auto" height="48">
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-sm-pull-6 col-lg-7 col-lg-pull-5">
        <h2 class="module-title title-edit cursor-pointer js-edit-form" datalayertag="Configuracion Perfil;Editar perfil - Tu informacion personal;Tu informacion personal">
          Tu información personal

          <a class="cta-edit js-btn-edit" href="">
            <i class="fa fa-pencil icon-edit" aria-hidden="true"></i>
            <div class="btn-help">
              <strong>
                Editar
              </strong>
            </div>
          </a>
        </h2>
      </div>
    </div>

    <div class="row module-flex-parent">
      <div class="col-xs-12 col-sm-4 col-sm-push-8">
        <div class="module-profile-photo">
    <div class="profile-photo-wrapper cursor-pointer js-edit-form" datalayertag="Configuracion Perfil;Editar perfil - Tu informacion personal;Foto">
        <img class="profile-photo js-profile-photo" src="./blade_wasr/1064436304_1_l.jpg" width="" height="" alt="" title="">
    </div>
    <div class="visible-xs-inline-block photo-requirements">
        <span class="caption">
            Cambia tu foto editando esta sección
        </span>
    </div>
    <div class="module-collapsible collapse in" aria-expanded="true">
        <span class="hidden-xs caption">
            Cambia tu foto editando esta sección
        </span>
    </div>
    <div class="module-collapsible collapse" aria-expanded="false">

        

<form action="FOTO" class="js-photo-form" enctype="multipart/form-data" method="post" novalidate="novalidate"><input name="__RequestVerificationToken" type="hidden" value="xWZH7sYKFremaebCVwXR1lgwwGEfMwyrt5BlsSZ8rK8wAFnhaNXVVkNHTwfCnu5Th6AZriTQg9QJ1ALk1yH6RkGg5MNFJlAkJHuwOw2cp2yWuua3tuqgDpqAcefXlVawZqEe5A2">    <div class="form-group">
        
        <span class="field-validation-valid help-block" data-valmsg-for="Image" data-valmsg-replace="true" id="helpBlock-photoProfile"></span>

        <label class="btn btn-secondary btn-block btn-load-photo js-load-photo-label" for="photoProfile">
            <i class="fa fa-camera fa-fw"></i>
            Cambiar foto
            <input accept="image/png, image/gif, image/jpeg" class="js-load-photo input-photo-uploader" data-val="true" data-val-maximumfilesize="La imagen debe tener formato JPG o PNG y peso máximo de {0}MB" data-val-maximumfilesize-size="3" data-val-validfiletype="La imagen debe tener formato JPG o PNG y peso máximo de 3MB" data-val-validfiletype-filetypes="png,jpg,gif,jpeg" id="photoProfile" inputfileattr="LeaderSearch.ElEmpleo.MVC.Shared.Components.Common.AttributeBuilder" name="Image" type="file" value="" datalayertag="Configuracion Perfil;Formulario - Tu informacion personal;Cambiar foto">
        </label>
    </div>
</form>

    </div>
</div>
      </div>

      <div class="col-xs-12 col-sm-8 col-sm-pull-4 module-flex-child">
        <div class="module-collapsible collapse in" aria-expanded="true">
          <div class="module-summary-wrapper personal-info">
            <div class="module-summary">
  <p>
    <span class="personalinfo-label">
      Nombre completo
    </span>
    <br>
    <strong class="personalinfo-input js-summary-completename">
      Fabian Aranda Tunubala
    </strong>
  </p>

  <p>
    <span class="personalinfo-label">
      Teléfono de contacto
    </span>
    <br>
    <strong class="personalinfo-input js-summary-principalphone">
      3126952899
    </strong>
  </p>
      </div>
       </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
|--------------------------------------------------------------------------
| Fin  MENU  INFORMACION  PERSONAL
|--------------------------------------------------------------------------

<!--
|--------------------------------------------------------------------------
| MENU  INFORMACION   CUATRO
|--------------------------------------------------------------------------
|
-->
 <div class="ContenedorFormularioCenso">
<div class="well resume-module module-skills" id="habilidades">
  <div class="js-box-skills">
    

       
            <div class="titulo_informacion">
            <div class="table-container table-responsive-md">
                <table>
                    <tbody>
                        <tr>
                          <td style="width:3px;"></td>
                            <td title="Miembros de la familia   Misak ">
                                <table class="active">
                                    <tbody>
                                        <tr>
                                            <td><b href="">HOJA DE VIDA</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>

                            <td style="width:3px;"></td>
                            <td title="Información de la persona que viven dentro de la familia ">
                                <table class="estatic">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b href="">PERSONAS </b>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>

                            <td style="width:3px;"></td>
                            <td title="Información de la persona que viven dentro de la familia ">
                                <table class="active">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b href="">INFORMACIÓN PERSONA </b>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>

                            <td style="width:3px;"></td>
                            <td title="Nivel educativo  que tiene  la persona que vive en la familia">
                                <table class="active">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <b href="">EDUCACION </b>
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </DIV>
                <div class="color_infor noPrint" style="margin-top: 15px;">
                    <span class="color_infor  noPrint">Usted se encuentra en:&nbsp;&nbsp;Talento Humano 
                        &gt; <font color="#666666">Personas</font></span>
                </div>

                <!--  <h1  class="btn btn-sm btn-default" >Residentes y/o miembros del hogar </h1>-->
               
                
                      <!---------------------->
                      <div class="row">
                      
                      <div class="col-md-12">
                      <span class="badge badge-warning">Personas registrados en el sistema </span>
                          <div class="pull-right botones-pies">
                    <button id="editarMiembrosHogar" class="btn btn-warning">Editar Personal Ingresado</button>-->
                          </div>

                      </div>
                  </div>
            </div>
			
			
       
			  
			  

                      <form id="vivienda" method="POST" action="{{ route('vivienda.store') }}">

                          @csrf
                       
                         )
                        <div class="form-group row">
                           <!----------------->
                           
                           <!----------------->
						    <div class="row separador">
                                <div class="col-md-12 form-group text-center">
                                @lang('Información de la persona (*)')
                                </div>
                            </div>
                            <div class="row">
                            <div class="col-md-4 form-group input-group-sm">
                                    <input type="text" id="nombre" value="" name="id_users" maxlength="50" placeholder="Ingrese nombre"
                                        class="form-control" required  style="text-transform:uppercase;"   onkeyup="javascript:this.value=this.value.toUpperCase();" autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 form-group input-group-sm">
                                    <div class="etiqueta2 usuario">@lang('Nombres.(*)')</div>
                                    <input type="text" id="nombre"  name="nombre" maxlength="50" placeholder="Ingrese nombre"
                                        class="form-control" required  style="text-transform:uppercase;"   onkeyup="javascript:this.value=this.value.toUpperCase();" autocomplete="off">
                                </div>
                                <div class="col-md-4 form-group input-group-sm">
                                    <div class="etiqueta2 usuario">@lang('Apellidos.(*)')</div>
                                    <input type="text" id="primero_apellido" name="primero_apellido" maxlength="50"
                                        placeholder="Ingrese apellido" class="form-control" required style="text-transform:uppercase;"   onkeyup="javascript:this.value=this.value.toUpperCase();" autocomplete="off">
                                </div>
                                <div class="col-md-4 form-group input-group-sm">
                                    <div class="etiqueta2 usuario">@lang('Estado civil.(*)')</div>
                                    <select id="estado_civil" name="estado_civil" class="form-control" required style="text-transform:uppercase;"   onkeyup="javascript:this.value=this.value.toUpperCase();">
                                        <option value="">Seleccione</option>
                                        <option value="S">Soltero(a)</option>
                                        <option value="C">Casado(a)</option>
                                        
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 form-group input-group-sm">
                                    <div class="etiqueta2">@lang('Tipo de Identificación.(*)')</div>
                                    <div>
                                    <input type="number" id=""  name="documento" maxlength="50" placeholder="Ingrese nombre"
                                        class="form-control" required  style="text-transform:uppercase;"   onkeyup="javascript:this.value=this.value.toUpperCase();" autocomplete="off">
                                    </div>
                                </div>

                                <div class="col-md-4 form-group input-group-sm">
                                    <div class="etiqueta2">@lang('Numero de Identificación.(*)')</div>
                                      

                                        <select id="tipo_documento" id="tipo_documento" name="tipo_documento" class="form-control" style="text-transform:uppercase;"   onkeyup="javascript:this.value=this.value.toUpperCase();" required >
                                            <option value="">Seleccione</option>
                                            <option value="RC">Registro Civil</option>
                                            <option value="TI">Tarjeta de Identidad</option>
                                            <option value="CC">Cedula de Ciudadania</option>
                                            <option value="CE">Cedula de Extranjeria</option>
                                            <option value="PA">Pasaporte</option>
                                        </select>
                                </div>
                                <div class="col-md-4 form-group input-group-sm">
                                    <div class="etiqueta2">@lang('Fecha de nacimiento(*)')</div>
                                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Ingrese fecha de nacimiento" class="form-control" required >
                                </div>
                            </div>
							<!--
							  <div class="row">
                                <div class="col-md-4 form-group input-group-sm">
                                    <div class="etiqueta2">@lang('Tipo de Identificación.(*)')</div>
                                    <div>
                                        <select id="tipo_identificacion" id="tipo_identificacion" name="tipo_identificacion" class="form-control" style="text-transform:uppercase;"   onkeyup="javascript:this.value=this.value.toUpperCase();" required >
                                            <option value="">Seleccione</option>
                                            <option value="RC">Registro Civil</option>
                                            <option value="TI">Tarjeta de Identidad</option>
                                            <option value="CC">Cedula de Ciudadania</option>
                                            <option value="CE">Cedula de Extranjeria</option>
                                            <option value="PA">Pasaporte</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4 form-group input-group-sm">
                                    <div class="etiqueta2">@lang('Numero de Identificación.(*)')</div>
                                    <input type="number" id="documento_persona" name="documento_persona" type="number" maxlength="20" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                        placeholder="Ingrese identificación" class="form-control" required autocomplete="off" >
                                </div>
                                <div class="col-md-4 form-group input-group-sm">
                                    <div class="etiqueta2">@lang('Fecha de nacimiento(*)')</div>
                                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="Ingrese fecha de nacimiento" class="form-control" required >
                                </div>
                            </div>
--> 			 <div class="row">
                                <div class="col-md-6 form-group input-group-sm">
                                    <div class="etiqueta2">Seleccione Departamento: (*)</div>
                                    
                                                  <select name="departamentoexpedicioncc" id="departamento" class="form-control">
                                                      <option value="">Seleccione...</option>
                                                      @foreach($departamento as $key => $departamento)
                                                          <option value="{{$key}}"> {{$departamento}}</option>
                                                      @endforeach
                                                  </select>

                                   </div>
                                <div class="col-md-6 form-group input-group-sm">
                                <div class="etiqueta2">Seleccione Municipio: (*)</div>
                                      
                                                  <select name="id_expedicion" id="municipio" class="form-control">
                                                    <option value="">Seleccione...</option>
                                                  </select>
                                </div>
                            </div>
							

                        
                   
                          
               
                  <!---------------------->
                  <div class="row">
                      <div class="col-md-12">

                          <div class="pull-right botones-pies">


                             {{-- <button type="button" class="btn btn-danger btn-xs" onclick="location.href='{{ url('Hogar') }}'">Cancelar</button>--}}

                              <input type="submit" class="botones_censo_poblacional" value=" @lang('GUARDAR Y CONTINUAR')" id="boton">

                          </div>

                      </div>
                  </div>

                      </form>
			 
                     
			
			
			</div>
          </div>

         </div>
        </div>
     </div>
      </div>
     </div>
  </div>
</div> 


    <!--
|--------------------------------------------------------------------------
| MODAL CONFIRMACION
|--------------------------------------------------------------------------
|
-->

<div id="ConfirmAction" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <h5 class="modal-title">Confirmar información vivienda</h5>
              </div>
              <div class="modal-body">
                  <p>¿Está seguro de guardar información   de la vivienda?</p>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" id="btnConfirmar">Confirmar</button>
              </div>
          </div>
      </div>
  </div>



<script>

let vivienda = {!!($vivienda)!!};    

$(document).ready(() => { 

    window.onbeforeunload = function() { return "Your work will be lost."; };
  //eventos
  let formVivienda = $('#vivienda');
  let modalConfirm = $('#ConfirmAction');
  formVivienda.submit((e) => { 
      e.preventDefault();
      modalConfirm.modal('show');
  });

  $('#btnConfirmar').click((e) => { 
      e.preventDefault();
      // formVivienda.unbind('submit').submit()
      var url = formVivienda.attr('action');
      var type = formVivienda.attr('method');
      $.ajax({
          type: type,
          url:  `${url}`,
          data: formVivienda.serialize(),
          dataType: 'json',
          success: (response) => {
              if (response.validate) {

                    setTimeout(() => {
                        Swal.fire('Exito', 'Se ha guardado con éxito, el proceso continuara en breves segundos.', 'success');
                    }, 200);

                  setTimeout(function() {
                      location.href = '/Menu-Hoja-vida';
                  }, 2000);
              } else if(response.errors) {
                    let mensaje='';
                    if(response.errors){
                        $.map(response.errors, (value, index)=>{
                            mensaje+=value+'\n';
                        });
                    }else{
                        mensaje = "Ocurrio un error al procesar la información, Comuniquese con el administrador."
                    }
                    setTimeout(() => {
                         Swal.fire('Advertencia', mensaje, 'warning');
                    }, 200);
              }else{
                  setTimeout(() => {
                    Swal.fire('Error', 'Se genero un problema a la hora de guardar', 'error');
                  }, 200);
              }
          },
      }).always(() => {
          modalConfirm.modal('hide');
      });
  });
  

  $('#departamento').change(function() {
      var departamentoID = $(this).val();
      if (departamentoID) {
          $.ajax({
              type: "GET",
              url: "{{url('get-municipio-list')}}?id_departamentoex=" + departamentoID,
              success: function(res) {
                  if (res) {
                      $("#municipio").empty();
                      $("#municipio").append('<option value="">Seleccione Municipio</option>');
                      $.each(res, function(key, value) {
                          $("#municipio").append('<option value="' + key + '">' + value +
                              '</option>');
                      });

                  } else {
                      $("#municipio").empty();
                  }
              }
          });
      } else {
          $("#municipio").empty();
          $("#resguardo").empty();
      }
  });

  
  

  if(vivienda.length!=0){
      $('#id_vivienda').val(vivienda.id);
      cargarFormulario();
  }   

  //funciones

});

function cargarFormulario(){
  let wetasphalt=$('#wetasphalt :input[value="'+vivienda.wetasphalt+'"]');
  wetasphalt.prop('checked', true);

  $('#documento').val(vivienda.documento);
  $('#numero_cuertos').val(vivienda.numero_cuertos);
  $('#cuartos_usados').val(vivienda.cuartos_usados);
  $('#suministro_agua').val(vivienda.suministro_agua_id);
  $('#servicio_internet').val(vivienda.servicio_internet);
  $('#servicio_energia').val(vivienda.servicio_energia_id);
  $('#servicio_sanitario').val(vivienda.servicio_sanitario_id);
  $('#material_paredes').val(vivienda.material_paredes_id);
  $('#material_cocina').val(vivienda.material_cocina_id);
  $('#material_piso').val(vivienda.material_piso_id);
  $('#material_techo').val(vivienda.material_techo_id);
  $('#estado_conservacion').val(vivienda.estado_conservacion);
  $('#periodo_construccion').val(vivienda.periodo_construccion);
  $('#forma_casa').val(vivienda.forma_casa);
  $('#tamaño_casa').val(vivienda.tamaño_casa);

  $('#ubicacionInput').val(vivienda.nombre_depatamento+' '+vivienda.nombre_municipio+' '+vivienda.nombre_reguardo+' '+vivienda.nombre_zona+' '+vivienda.nombre_vereda+' '+vivienda.nombre_sector);  
  $('#ubicacionDiv').show();
  /*$('#departamento').val(vivienda.codigo_departamento).change();
  //$('#departamento option[value='+vivienda.codigo_departamento+']').attr('selected',true);
  //$('#departamento').change();
  $('#municipio').val(vivienda.codigo_municipio);
  //$('#municipio').change();
  $('#resguardo').val(vivienda.codigo_resguardo);
  //$('#resguardo').change();
  $('#zona').val(vivienda.codigo_zona);
  //$('#zona').change();
  $('#vereda').val(vivienda.codigo_vereda);
  //$('#vereda').change();
  $('#sector').val(vivienda.codigo_sector);*/
}
</script>




<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
@endsection
